body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}

.login .signup-login .btnContainer p span:hover {
  color: red;
}

.radio-buttons .radio-inline{
  margin-right: 50px;
}

.login .signup-login .errorMsg {
  color: red;
  font-size: 16px;
}
.home {
  padding: 10px;
}

h1.company-info-header{
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 4px;
}