.authWrapper {
  display: block;
  padding: 10px;
  width: 100%;
  max-width: 40.0rem;
  
  margin: 4rem auto 6rem;
  margin-top: 100px;
  background: #fff;
  border: 1px solid #e1e1e1;
  }
.wrap h2{
  padding: 10px;


    font-size: 2.2rem;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}