body {
  /*background: linear-gradient(to right, #d5712e, #f9ca24);
  */
  overflow-x: hidden;
  
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 65px);
  margin-top: 65px;
}
.container{
background: white;
width: 1080px;
height: 700px;
margin: 0 auto;
position: relative;
margin-top: 120px;
margin-bottom: 10%;
box-shadow: 2px 5px 20px
rgba(199, 178, 119, 0.5)
}
.container .leftbox{
top: -5%;
left: 5%;
position: absolute;
width: 15%;
height: 110%;
background: #EE964B;
border: solid #fff
}

.container .leftbox nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container nav a { 
list-style: none;
padding: 50px;
color: #fff;
font-size:x-large;
display: block;
transition: all .3s ease-in-out;
}
.container nav a:hover { 
color: orangered;
cursor: pointer;
transform: scale(1.5);
}
.container nav a:first-child { 
margin-top: 0px;
}

.container nav a.active{
color: orangered;
}
.container .rightbox{
width: 70%;
margin-left: 27%;

}
.container .tabShow {

transition: all .5s ease-in;
width: 80%;
}

.container .rightbox h1{
color: orange;
font-size: 3.0rem;
margin-bottom: 35px;
}
.container .rightbox h2{
color: #777;
text-transform: uppercase;
font-size: 18px;
letter-spacing: 2px;
margin-left: 2px;
margin-top: 20px;
}

.container .input, p{
border: 0;
border-bottom: 1px solid #ecf0f0;
width: 75%;
font-size: 16px;
padding: 7px 0;
color: #070707;
outline: none;
margin: 0 30px 0 0;
font-family: Arial, Helvetica, sans-serif;
}

.pen {
margin-top: 10px;
margin-right: 40px;
}

.pen:hover {
color: orange;
}

.dolly {
margin-top: 20px;
margin-right: 20px;
font-size:xx-large;
}

.dolly:hover {
color: orange;
}

.faCheck {
  margin-top: 20px;
  margin-right: 20px;
  font-size:xx-large;
}

.faCheck:hover {
  color: greenyellow;
}
.faX {
  margin-top: 20px;
  margin-right: 20px;
  font-size:xx-large;
}

.faX:hover {
  color:red;
}

.container .btn{
text-transform: uppercase;
font-size: 15px;
border: 0;
color: #fff;
background: #f1951d;
padding: 9px 10px;
box-shadow: 0px 2px 4px 0px
rgba(0,0,0,.2);
cursor: pointer;
margin-top: 20px;
}

.container .tabShow{
display: none;

}

.leftbox .tab{

display: flex;
align-items: center;
justify-content: center;

}