.MuiTypography-gutterBottom.MuiTypography-h5:first-child{
    height: 70px;
}
.MuiTypography-gutterBottom.MuiTypography-h5:last-child{
    display: flex;
    justify-content: flex-end;
    width: 48%;
}
.MuiTypography-gutterBottom.MuiTypography-h5{
    font-size: 17px;
}
.MuiTypography-gutterBottom a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.MuiCardMedia-root.makeStyles-media-45 {
    background-size: cover;
    padding: 0;
    width: 100%;
}
.MuiGrid-grid-md-3.MuiGrid-grid-lg-2{
    height: 470px;
    width: 270px;
    max-width: 270px;
}

.MuiPaper-elevation1.MuiPaper-rounded{
    width: 100%;
    height: 100%;
}

.MuiFormControl-root{
    width: 500px;
}
.MuiInputLabel-root.MuiInputLabel-formControl{
    top: 23px;
    color: black;
    transition: .2s;
}

.MuiInputLabel-animated.MuiFormLabel-filled{
    top: 0 !important;
    transition: .2s;
}
.MuiFormHelperText-root{
    border-bottom: none;
}

.MuiCardMedia-root.makeStyles-media-42 {
    background-size: cover;
    padding: 0;
    width: 100%;
}

/* /cart/ */
.MuiGrid-grid-xs-12.MuiGrid-grid-sm-4{
    height: 470px;
    width: 270px;
    min-width: 270px;
    flex-basis: 0;
}
.MuiTypography-h4 {
    font-size: 17px !important;
    align-items: center;
    display: flex;
}
.MuiTypography-body1{
    display: flex;
    justify-content: center;
   border-bottom: none;
}

/* /checkout form/ */

.Checkout span{
    margin: 10px 0 0 0;

}
.Checkout button {
    width: 100px;
    max-width: none !important;
}


/* navbar */
.MuiToolbar-root{
    background: rgb(189,75,85);

}
.MuiToolbar-root .MuiToolbar-regular .MuiToolbar-gutters{
    background: rgb(221,164,150);
}