body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}
.Checkout {
  padding: 10px;
  border: 1px solid #e1e1e1;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  margin:0 auto;

  margin-top: 80px;
  background: #fff;
}

.Checkout input::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  
}
.Checkout span{
  margin-left: 20px;
}

.Checkout h2 {
  margin: 1;
  margin-bottom: 20px;
  margin-left: 20px;
}
.Checkout h3 {
  display: block;
  font-size: 1.17em;
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

.Checkout input {
  border: 1px solid #e1e1e1;
  padding: 6px  20px;
  font-size: 14px;
  margin-top: 10px;
  height: 30px;
  outline: none;
  border-radius: 3px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.Checkout button {
  padding: 10px;
  margin-top: 16px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #fff;
  background: red;
  color: #fff;
  font-weight: bold;
  width: 150px;
  
  
}
