body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}
.login-form{
  display: flex;
  flex-direction: column;

}
.signup-login {
  max-width: 60%;
  width: 700px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 150px;
  background-color: #ffffffe4;
  border: 0px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0);
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.signup-login input::placeholder{
  font-family: Arial, Helvetica, sans-serif;
}

.signup-login h2 {
  margin: 1;
  margin-bottom: 20px;
}
.signup-login h1 {
  display: contents;
  font-size: 2em;
  font-family: 'math';
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold
}
.signup-login p {
  margin: 20px 0;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.signup-login input {
  border: 1px solid #e1e1e1;
  padding: 6px 5px;
  font-size: 14px;
  height: 30px;
  border-radius: 50px;
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.signup-login button.px-4{
  padding: 10px;
  margin-left: auto;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background: rgb(117,129,199);
  color: #fff;
  font-weight: bold;
  max-width: 40%;

}
.span .MuiButton-label{
  padding: 10px;
  margin-left: auto;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background: rgb(117,129,199);
  color: #fff;
  font-weight: bold;
  max-width: 40%;

}

input{
  margin-top: 50px;
}
p {
  display: block;
  margin-block-start: 1px;
  margin-block-end: 1px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.home {
  padding: 10px;
}

button {
  border: none;
  outline: none;
  border-radius: 12px;
  width: 85px;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #EE964B;
  cursor: pointer;
}
.errorMsg{
  margin: 0;
  color: red;
  padding: 0;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
}

.hero nav {
  background: #bb8e3b;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #bb8e3b;
}