.master-container {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    
}

.product-container {
    
    border-width: 5vw;
    
  }

.rightleft-container {
    display: flex;
    border: 1vw;
    border-radius: 0.5vw;
    border: groove;
    position: relative;
    padding: 3vw;
  }

.left-container {
    
    display: flex;
    align-items: baseline;
    border:groove;

  }

.right-container {
    margin-left: 5vw;
  }

.rating {
    border-bottom: 1vw;
    border-bottom: groove;
    display: flex;
    align-items: center;
}

.sortChoose {
  width: 10%;
  margin-left: auto;
  margin-right: 5%;
  padding-bottom: 1%;

  }